body{
    background-color: #282828;
    color: white;
    text-align: center;
    font-family: Titillium Web;
    margin-bottom: 0px;
}
.button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    width: auto;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: .1px;
    white-space: wrap;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: blue;
    box-shadow: 0 5px 0 darkblue;
}
.button:active {
    box-shadow: none;
    transform: translateY(5px)
}
p.listamezzi{
    border-radius: 5px;
    display:inline;
}
hr.solid {
    border: 3px solid #3d3d3d;
    border-radius: 5px;
    width: 100%;
}
hr.solidfooter {
    border: 1px solid #525252;
    border-radius: 1px;
    width: 96%;
}
.link{
    color: cyan;
}
a{
    color: white;
}
a.novita{
    color: rgb(0, 255, 0);
}
a.gbutton{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    width: auto;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: .1px;
    white-space: wrap;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 160, 0);
    box-shadow: 0 5px 0 darkgreen;
}
.gbutton:active {
    box-shadow: none;
    transform: translateY(5px)
}
footer{
    position: fixed;
    left: 8px;
    right: 8px;
    bottom: 0px;
    background-color: #282828;
    height: 70px;
    width: 100%;
    border-radius: 10px;
}
div.footer{
    position: fixed;
    left: 8px;
    right: 8px;
    bottom: 8px;
    width: auto;
    height: 60px;
    background-color:#333;
    border-radius: 10px;
}
header {
    font-size: 67%;
    background-color: #333;
    height: auto;
    padding: 0px 0px;
    align-items: start;
    width: 100%;
    border-radius: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}
nav {
    text-align: center;
    flex-shrink: 0;
}
  
nav ul li {
    margin-left: 20px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
.bus{
    border: 2px solid;
    border-style: hidden;
    border-radius: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
h1.nospazio{
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1.piccolospazio{
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1.spazio{
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
p.novitasito{
    margin-top: 30px;
}
table.image-table {
    width: 98%;
    max-width: 1800px;
    margin: 20px auto;
    border-spacing: 5px;
    table-layout: fixed;
    text-align: start;
}
table.image-table img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    table.image-table {
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
    }

    img {
        margin-bottom: 10px;
    }
}
/*zona lista mezzi*/
.lista-mezzi{
    width: 80vw;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    border: 2px solid gray;
    overflow: hidden;
}
.lista-mezzi thead{
    background-color: #282828;
    position: sticky;
    top: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.lista-mezzi th, .lista-mezzi td{
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    white-space: nowrap;
}
.lista-mezzi thead th{
    position: sticky;
    top: 0;
    z-index: 2;
}
.lista-mezzi tbody{
    display: block;
    overflow-y: auto;
}
.lista-mezzi tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.lista-mezzi tbody tr.demolito{
    background-color: darkred;
}
.lista-mezzi tbody tr.sconosciuto{
    background-color: purple;
}
.lista-mezzi tbody tr.fermo{
    background-color: yellow;
    color: black;
}
.lista-mezzi tbody tr.dismesso{
    background-color: orangered;
}
.lista-mezzi tbody tr.trasferito{
    background-color: blue;
}