/* APRIL FOOLS */

body{
    animation:  4s linear 0s infinite;
}

body *{
    animation:  1000s linear 0s infinite;
}

@keyframes aprilfools {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes aprilfools2 {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -360deg;
    }
}
@keyframes aprilfools3 {
    0%{
        translate: 0px 0%;
    }
    100%{
        translate: 0px 1000%;
    }
}
@keyframes aprilfools4 {
    0%{
        rotate: 180deg;
    }
    100%{
        rotate: 180deg;
    }
}
@keyframes aprilfools5 {
    0%{
        color: rgb(255, 0, 0);
    }
    16%{
        color: rgb(255, 255, 0);
    }
    32%{
        color: rgb(0, 255, 0);
    }
    48%{
        color: rgb(0, 255, 255);
    }
    64%{
        color: rgb(0, 0, 255);
    }
    80%{
        color: rgb(255, 0, 255);
    }
    100%{
        color: rgb(255, 0, 0);
    }
}