a {
    color: orange;
}

table {
    border-collapse: collapse;
    border-radius: 8px;
    min-width: 85%;
    max-width: 100%;
    margin: auto;
    margin-top: 18px;
}

th {
    background-color: rgb(204, 132, 0);
}

hr{
    border: 3px solid #3d3d3d;
    border-radius: 5px;
    width: 99.55%;
}

/* Colori righe tabella */
tr.sconosciuto,p.sconosciuto {
    background-color: purple;
}
tr.fermo,p.fermo {
    background-color: yellow;
    color: black;
}
tr.fermo td a {
    color: black;
}
tr.dismesso,p.dismesso {
    background-color: orangered;
}
tr.demolito,p.demolito {
    background-color: rgb(100, 0, 0);
}

th,td {
    border: 2px solid #444;
    padding: .7vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
    text-align: center;
}

.bus-card-red {
    background-color: rgb(55,14,14) !important;
}
.bus-card-yellow {
    background-color: rgb(65, 65, 0) !important;
}
.bus-card-green {
    background-color: rgb(14, 65, 14) !important;
}

.cursor-pointer{
    cursor: pointer;
}

div.legenda {
    display: flex;
    justify-content: center;
}

div.legenda p {
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin:2px;
    height: fit-content;
}

div.content-background {
    background-color: #333;
    max-width: 85%;
    margin: auto;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

div.content-background h3{
    margin-top: 0;
    margin-bottom: 16px;
}

div.select-container {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding-left: 32px;
    padding-right: 32px;
}

div.content-background select {
    flex: 1 1 0;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

select,input{
    height: 50px;
    width: auto;
    background-color: #333;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(100, 100, 100);
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (max-width: 768px) {
    p.scaled{
        font-size: 3vw;
    }
    div.content-background {
        max-width: 100%;
    }
    th,td {
        font-size: 3vw;
    }
    table {
        margin-top: 10px;
        min-width: 100%;
        width: 100%;
        max-width: 100% !important;
    }
    hr{
        margin-bottom: 18px;
    }
}

@media (max-width: 512px) {
    p.scaled{
        font-size: 3.6vw;
    }
    th,td {
        font-size: 3.6vw;
    }
    table{
        margin-top:10px;
    }
    h2{
        margin-bottom: 0;
    }
    h2.noreduction{
        margin-bottom: 16px;
    }
    #tabella-container {
        overflow-x: scroll;
    }
}