:root {
    --primary-color: #afafaf;
    --accent-color: #0074d9;
    --white: #ffffff;
    --light-gray: #848991;
    --border-color: rgb(100, 100, 100);
    --text-color: #ffffff;
    --black: #000000;
}

img{
    margin-top: 32px;
    width: 150px;
}

label {
    font-weight: 600;
    margin-right: 8px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    margin-right: 8px;
    border: 0;
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005fa3;
}

button:active {
    background-color: #00487b;
}

#message-container{
    margin:16px;
}

#tabella-container{
    display: none;
}

table {
    min-width: 85%;
    max-width: 100%;
    /*Tabella tonda*/
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

/*Linee verticali*/
th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid rgb(100, 100, 100);
}
/*Linee orizzontali*/
tr:not(:last-child) > th, tr:not(:last-child) > td {
    border-bottom: 1px solid rgb(100, 100, 100);
}

th, td {
    padding: .7vw;
    text-align: left;
}

th {
    background-color: darkcyan;
}

tr:nth-child(even) {
    background-color: rgb(60, 60, 60);
}

a {
	color: orange;
}

@media (max-width: 768px) {
    #tabella-container{
        overflow-x: scroll;
    }
    th, td {
        padding: 1.5vw;
    }
}