h3{
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border-radius: 8px;
    min-width: 85%;
    max-width: 100%;
    margin: auto;
    margin-top: 18px;
}

td.uguale{
    width: 50%;
}

th {
    background-color: rgb(204, 132, 0);
}

th,td {
    border: 2px solid #444;
    padding: .7vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
    text-align: left;
}

.bus-card-red {
    background-color: rgb(55,14,14) !important;
}
.bus-card-yellow {
    background-color: rgb(65, 65, 0) !important;
}
.bus-card-green {
    background-color: rgb(0, 55, 0) !important;
}

a {
    color: orange;
}

a.bianco{
    color: white;
    text-decoration: none;
}

a.biancosott{
    color: white;
}

@media (max-width: 768px) {
    p.scaled{
        font-size: 2vw;
    }
    table {
        margin-top: 10px;
        min-width: 100%;
    }
    th,td {
        font-size: 2.5vw;
    }
    table {
        width: 100%;
        max-width: 100% !important;
    }
    h2{
        margin-bottom: 8px;
    }
}

@media (max-width: 512px) {
    p.scaled{
        font-size: 3.2vw;
    }
    th,td {
        font-size: 5vw;
    }
    table{
        margin-top:10px;
    }
    h2{
        margin-bottom: 0;
    }
    #tabella-container {
        overflow-x: scroll;
    }
}

footer {
    position: relative;
    bottom: 0;
	left: 0;
    width: 100%;
}