/* Lista mezzi */

table {
    margin-top: 1rem;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    min-width: 85%;
    max-width: 100%;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
}

th {
    background-color: darkcyan;
    padding: .7vw;
}

td {
    padding: .7vw;
}

tr.even {
    background-color: rgb(60, 60, 60);
}

/* Colori sfondo in base allo stato*/

tbody tr.demolito,
p.demolito {
    background-color: darkred;
}

tbody tr.sconosciuto,
p.sconosciuto {
    background-color: purple;
}

tbody tr.fermo,
p.fermo {
    background-color: yellow;
    color: black;
}

tbody tr.fermo a,
p.fermo {
    background-color: yellow;
    color: black;
}

tbody tr.dismesso,
p.dismesso {
    background-color: orangered;
}

/* Larghezza e format testo celle specifiche */

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 10%;
}

th:nth-child(4),
td:nth-child(4) {
    text-align: center;
    width: 5%;
}

/* Legenda stati */

div.legenda {
    display: flex;
    justify-content: center;
}

div.legenda p {
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    height: fit-content;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    th:nth-child(1), td:nth-child(1) {
        text-align: center;
        width: 5%;
    }

    th:nth-child(2), td:nth-child(2) {
        text-align: center;
        width: 25%;
    }

    table {
        margin: 0px;
    }

    td {
        padding: 1vw;
    }
}